Cython==3.0.11
dl==0.1.0
docutils==0.21.2
docx==0.2.4
Jinja2==3.1.4
keras==2.12.0
kneed==0.8.5
matplotlib==3.7.1
nltk==3.9.1
numpy==1.24.3
numpy==1.23.5
opencv_python==4.10.0.84
pandas==1.5.3
pydicom==3.0.1
railroad==0.5.0
scikit_fuzzy==0.5.0
scikit_learn==1.2.2
scipy==1.10.1
seaborn==0.13.2
tensorflow==2.12.0
torch==2.5.1
transformers==4.46.3
trove_classifiers==2024.10.21.16
